* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f7fc;
    color: #333;
    text-align: center;
    overflow-y: auto; /* Allow vertical scrolling */
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #24292e;
    color: #fff;
    padding: 20px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

header p {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: auto;
    width: 80%;
    margin: 50px 0;
    flex-wrap: wrap;
}

.platform-geekforgeeks {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 350px;
    height: 270px;
    transition: transform 0.3s;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.platform-geekforgeeks:hover {
    transform: translateY(-10px);
}

.platform-geekforgeeks img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.platform-geekforgeeks h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.platform-geekforgeeks a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.platform-geekforgeeks a:hover {
    background-color: #45a049;
}

.platform-codechef {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 350px;
    height: 270px;
    transition: transform 0.3s;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}


.platform-codechef:hover {
    transform: translateY(-10px);
}

.platform-codechef img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.platform-codechef h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.platform-codechef a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.platform-codechef a:hover {
    background-color: #45a049;
}

.platform-leetcode  {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 350px;
    height: 270px;
    transition: transform 0.3s;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.platform-leetcode:hover {
    transform: translateY(-10px);
}

.platform-leetcode img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.platform-leetcode h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.platform-leetcode a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.platform-leetcode a:hover {
    background-color: #45a049;
}
footer {
    margin-top: auto;
    padding: 20px;
    background-color: #24292e;
    color: #fff;
    width: 100%;
    text-align: center;
}




