* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f7fc;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 40px;
    width: 5rem;
    transition: transform 0.3s ease;
  }
  
  .logo img:hover {
    transform: scale(1.05);
  }
  
  .logo{
    padding-top: 8px;
  }

header {
    background-color: #24292e;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
}

header h1 {
    font-size: 25rem;
    font-size: 2.5rem;
    font-weight: 600;
}

.container {
    display: flex;
    flex: 1;
    height: calc(100vh - 60px); /* Adjust based on your header height */
}

.problems-list {
    width: 50%;
    padding: 20px;
    overflow-y: auto;
}

.solution-display {
    width: 50%;
    padding: 20px;
    background-color: #f0f0f0;
    overflow-y: auto;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-header {
    padding: 15px 20px;
    border-bottom: 1px solid #e0e0e0;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.card-content {
    padding: 15px 20px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.button-primary {
    background-color: #2acb1e;
    color: white;
}

.button:hover {
    opacity: 0.9;
}

.icon {
    margin-right: 5px;
}

.progress-card {
    margin-top: 0.6rem;
    padding: 1.5rem; 
  }
  
  .progress-card h2 {
    margin-bottom:0.6rem;
    font-size: 1.5rem;
  }
  
  .progress-card .button {
    margin-top: 0.6rem;
    border: none;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
  }

  #username {
    padding: 0.5rem;
    border: 1px solid #827d7d;
  }

  #stats {
    margin-top: 20px;
  }
  #stats p {
    font-size: 16px;
    color: #444;
    margin: 10px 0;
  }
  #stats span {
    font-weight: bold;
    color: #ff7e67;
  }

  header h1{
    margin-left: 28rem;
  }
  